@using Microsoft.AspNetCore.Identity
@using EmpregaSENAI.Areas.Identity.Data


@inject SignInManager<EmpregaSENAI.Models.Users> SignInManager
@inject UserManager<EmpregaSENAI.Models.Users> UserManager
@{
    ViewData["Title"] = "Tela SOMENTE DA EMPRESA";
}

<h1>EMPRESA ON</h1>
