@using EmpregaSENAI.Core
@using Microsoft.AspNetCore.Identity
@using EmpregaSENAI.Areas.Identity.Data


@inject SignInManager<EmpregaSENAI.Models.Users> SignInManager
@inject UserManager<EmpregaSENAI.Models.Users> UserManager
@{
    ViewData["Title"] = "Tela inical";
}


<h1>
    <a asp-action="Empresa">
        EMPRESA
    </a>
</h1>
<h1>
    <a asp-action="Aluno">
        Aluno
    </a>
</h1><h1>
    <a asp-action="Admin">
        Ademir
    </a>
</h1>

<div class="text-center">

    <h1>ALTERAÇÃO MANERA</h1>


    @if (User.IsInRole(Constants.Roles.Empresa))
    {
        <h1>Usuario É UMA EMPRESA</h1>
    }else if (User.IsInRole(Constants.Roles.Aluno))
    {
        <h1>USUARIO É UM ALUNO</h1>
    }

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                
                    <img style="object-fit:cover; border-radius:30px" src="~/imgs/22d9be3193a081480cb8a64b82f25ccb.jpg">
                
            </div>
            <div class="carousel-item">
                
                    <img style="object-fit:cover; border-radius:30px" src="~/imgs/bulba.jpg">
                
            </div>
            <div class="carousel-item">
                
                    <img style="object-fit:cover; border-radius:30px" src="~/imgs/bs5Cj_jP4hs1Ht-kVmDR0MazHtAQjtcmt2ai17wIRUg.webp">
                
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
